body {
  padding: 20px;
}

h1 {
  font-family: menlo, 'Lucida Grande';
  color: rgba(1,1,1,.7);
  font-size: 18px;
  margin: auto;
  width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

.by-label {
  display: block;
 font-family: menlo, 'Lucida Grande';
  color: rgba(1,1,1,.4);
  font-size: 12px;
  margin: auto;
  width: 500px;
  text-align: center;
}

.photos {
  width: 600px;
  margin: auto;
  margin-top: 80px;
}

.photos.is-focusing {
  margin-top: 10px;
}

.photos img {
  width: 600px;
  margin-bottom: 50px;
  position: relative;
  cursor: pointer;
}

.share-info {
  opacity: .3;
  display: none;
  margin: auto;
  width: 800px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: gray;
  transition: opacity .5s;
}

.share-info:hover {
  opacity: 1;
}

.share-info .share-url {
  border-bottom: 1px solid #5B5BCE;
  color: gray;
}